.input {
  border: 3px solid #bdc731;
}

.boss-node-enter {
  opacity: 0;
}
.boss-node-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.boss-node-enter-done {
  opacity: 1;
}
.boss-node-exit {
  opacity: 1;
}
.boss-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
.boss-node-exit-done {
  opacity: 0;
}
